@import url("https://fonts.googleapis.com/css?family=Lato:100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 900;
}
html,
body {
  height: 100%;
  width: 100%;
  background: linear-gradient(
    to right,
    rgb(78, 26, 126, 0.8) 1%,
    rgb(171, 9, 162) 50%,
    #ff5564 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
#signup-container,
#login_form,
#otpverification {
  background-color: #ffffff;
  width: 45%;
  height: 80%;
  padding: 0.5em;
  border-radius: 1.5em;
}
form {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 0.5em;
  justify-content: center;
  align-items: center;
  height: 100%;
  box-sizing: border-box;
}
form h2 {
  font-size: auto;
  margin-bottom: 1em;
  color: #000000;
  text-align: center;
}
form input {
  width: 90%;
  padding: 0.5em;
  background-color: #ffffff;
  border: 0.1px solid rgba(0, 0, 0, 0.3);
  margin-bottom: 1.5em;
  font-size: 1em;
  border-radius: 0.3em;
}
form #register,
#loginbtn {
  width: 90%;
  height: 3em;
  font-weight: bold;
  outline: none;
  padding: 0.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 2em;
  font-size: 1em;
  background-color: #ffbd39;
  color: #000000;
  border: 0.1em solid #ffbd39;
  border-radius: 2em;
  cursor: pointer;
  transition: all 1s ease-in-out 0s;
}
#verifyotp,
#resendotp {
  width: 50%;
  height: 3em;
  font-weight: bold;
  outline: none;
  padding: 0.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 1em;
  background-color: #ffbd39;
  color: #000000;
  margin-bottom: 2em;
  border: 0.1em solid #ffbd39;
  border-radius: 2em;
  cursor: pointer;
  transition: all 1s ease-in-out 0s;
}
form #register:hover,
form #loginbtn:hover {
  background-color: #000000;
  color: #ffffff;
  border-color: #000000;
}
@media screen and (max-width: 768px) {
  #signup-container,
  #login_form,
  #otpverification {
    height: fit-content;
    width: 90%;
    left: 5%;
  }
  form {
    padding: 0.5em;
    margin: 0.5em;
    height: 90%;
  }
  form h2 {
    font-size: 1em;
  }
  form input {
    font-size: 1em;
    width: 100%;
    margin-bottom: 0.5em;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    outline: none;
    border-radius: 0px;
  }
  form #register,
  #loginbtn
  {
    font-size: 1em;
    width: 100%;
    margin-bottom: 1em;
    border: #ffbd39;
  }
}
